@import url("https://fonts.googleapis.com/css2?family=Itim&family=Playfair+Display&display=swap");
$body: "Itim", sans-serif;
$head: "Playfair Display", sans-serif;

$white: #ffffff;
$warm: #f9ebc7;
$dark-blue: #00040f;
$black: #000000;
$brown: #6f5226;
